node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

metadata/.DS_Store
metadata/bonbon/.DS_Store
metadata/orient/.DS_Store
